/* إعدادات عامة */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Cairo', sans-serif;
    font-weight:700;
    text-align:center;
}

body{
    direction:rtl;
    background:linear-gradient(180deg,#1E2A2F,#2F4F4F);
    padding:30px;
}

/* المربع العلوي */
.header-box{
    background:#C5D89D;
    padding:40px 20px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
    margin-bottom:40px;
}

.header-box h1{
    font-size:38px;
    margin-bottom:15px;
}

.header-box p{
    font-size:20px;
}

/* الأزرار */
.buttons{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-bottom:30px;
}

button{
    padding:25px;
    font-size:20px;
    border:none;
    border-radius:20px;
    background:#4F6F52;
    color:white;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(0,0,0,0.4);
    transition:0.3s;
}

button:hover{
    background:#3A5A40;
}

/* القوائم */
.content-box{
    display:none;
    margin:20px auto;
    padding:25px;
    background:#DDE5B6;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.4);
    width:85%;
    text-align:right;
}

.content-box h2{
    font-size:28px;
    margin-bottom:15px;
}

.content-box ul{
    list-style-type: disc;
    margin-right:20px;
    text-align:right;
}

.content-box ul li{
    font-size:20px;
    margin-bottom:8px;
}

/* السلايدر */
.slider-container{
    width:85%;
    margin:40px auto;
    position:relative;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.slider{
    position:relative;
    height:300px;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}

.slide.active{
    display:block;
}

.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:25px;
}

/* نص الصورة */
.slide-text{
    position:absolute;
    bottom:15px;
    right:15px;
    background:rgba(0,0,0,0.6);
    color:white;
    padding:8px 18px;
    border-radius:12px;
    font-size:18px;
}

/* الأسهم */
.prev,.next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(0,0,0,0.5);
    border:none;
    color:white;
    font-size:28px;
    padding:10px 15px;
    border-radius:50%;
    cursor:pointer;
}

.prev{ left:15px; }
.next{ right:15px; }

.prev:hover,.next:hover{
    background:rgba(0,0,0,0.8);
}